@page "/filetransfer"

@using Microsoft.AspNetCore.Components.Forms
@using BlazorApp2Test.FileAccess

@inject IWebHostEnvironment Environment
@inherits Component

<button @onclick="RefreshPage">Refresh</button>
<br />
<br />

<InputFile OnChange="HandleSelection" />
<button @onclick="Upload" disabled="@(!fileSelected)">Upload</button>


@if(_file != null)
{
    @if (_file.Error != null)
    {
        <p class="text-danger">@_file.Error</p>
    }

    @if (_file.IsUploaded)
    {
        <p class="text-success">File uploaded successfully.</p>
    }

    
    <div class="pt-4">
        Current downloadable files:

        @foreach (var file in Directory.GetFiles(Helper.UploadFolderPath))
        {
            //NOTE: In Helper, @fileName is added to DownloadPath
            var fileName = Path.GetFileName(file);
            <p>
                <a href= "@Helper.DownloadPath" download>@fileName</a>
                <button @onclick="(() => DeleteHandler(fileName))">delete @fileName</button>
            </p>
        }
    </div>

}

@code {

    private IBrowserFile selectedFile;
    private bool fileSelected = false;

    // new file obj instance
    private FileAccess _file = new FileAccess();

    void HandleSelection(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;
        if (selectedFile != null)
        {
            fileSelected = true;
        }
    }

    private async Task Upload()
    {
        await _file.UploadFile(selectedFile);
    }

    private void DeleteHandler(string f)
    {
        _file.DeleteFile(f);
    }

  
}
