@page "/texttransfer"

@using BlazorApp2Test.Data;

@inject TextData _textData
@inject ErrorService _errorService
@inject IJSRuntime JSRuntime

@inherits Component

<PageTitle>GWTool - Text</PageTitle>


<div class="row px-4">
    <div class="col-12 col-sm-6 col-md-8 py-2">
        <p class="section-name">Text Transfer</p>
    </div>
</div>

<div class="mx-4 pb-3">  

    <pre>
        <textarea rows="8" class="px-4 form-control bg-light rounded"
        @bind="@text" @oninput="HandleInput" maxlength="@Helper.TextAreaMaxLength"
        placeholder="Enter text here and then hit submit ...">@text</textarea>
    </pre>
     
    <button class="rounded" @onclick="Submit" disabled="@disableSubmit">Submit</button>
    <button class="rounded" @onclick="Clean">Clean</button>
    <label style="color:@wordCountColor;">Word Count: @wordCount/@Helper.TextMaxLength | </label>
    <label style="color:@charCountColor;">Character Count: @charCount/@Helper.TextAreaMaxLength</label>
    @if(_textData.GetText() != null)
    {
        <label class="text-success ms-1">
            Successfully Submitted!
        </label>
    }
</div>

<div class="mx-4 bg-light rounded">

    <div>
        <textArea rows="8" class="form-control rounded" readonly type="text" 
            value="@_textData.GetText()" placeholder="Enter Text to above text box, then hit refresh ..." />
    </div>

</div>

<div class="mx-4 py-3">

    @if (copied == true)
    {
        <button type="button" class="rounded btn-secondary-active me-1" color="green" @onclick="CopyTextToClipboard">Copied!</button>
    }
    else
    {
        <button type="button" class="rounded me-1" @onclick="CopyTextToClipboard">Copy</button>
    }

    <button class="rounded" @onclick="RefreshPage">Refresh</button>
</div>

@code {

    private string? text;
    private int wordCount = 0;
    private int charCount = 0;

    private string wordCountColor => wordCount > Helper.TextMaxLength? "red" : "green";
    private string charCountColor => charCount > Helper.TextAreaMaxLength ? "red" : "green";

    private bool disableSubmit = false;

    private bool copied = false;

    private void Submit()
    {
        try
        {
            if (text == null)
            {
                throw new IOException("No input detected");

            }
            _textData.CleanText();
            _textData.AssignText(text);
        }
        catch(Exception ex)
        {
            _errorService.ShowModal(ex.Message);
        }
    }

    private void HandleInput(ChangeEventArgs e)
    {
        try
        {
            text = e.Value?.ToString();
            wordCount = Helper.CountWords(text);
            charCount = Helper.CountCharacters(text);

            if (wordCount > Helper.TextMaxLength)
            {
                disableSubmit = true;
                _textData.CleanText();
            }
            else
            {
                disableSubmit = false;
            }
        }catch(Exception ex)
        {
            _errorService.ShowModal(ex.Message);
        }
    }

    private async Task CopyTextToClipboard()
    {
        if (_textData.GetText != null)
        {
            await JSRuntime.InvokeVoidAsync("copyToClipboard", _textData.GetText());
            copied = true;
        }
    }

    private void Clean()
    {
        _textData.CleanText();
        wordCount = 0;
        text = null;
        copied = false;
    }
}